@import "libs/vars.less";
@import "libs/mixins.less";

.d_backToTop{
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
    &__img{
       
    }
    & svg{
        .media(520px,{
            width: 46px;
            height: 46px;
          
        });
    }
   
}